---
import BaseLayout from "../layouts/BaseLayout.astro";
// import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <section class="px-6 py-10">
    <h2 class="text-3xl font-bold mb-6 text-left">Contact</h2>
    <div class="overflow-x-auto">
      <table class="table-auto border border-gray-200 text-left w-full">
        <tbody>
          <tr class="border-b border-gray-200 bg-gray-50">
            <td class="px-4 py-3 font-semibold w-28">Email</td>
            <td class="px-4 py-3">
              <a href="mailto:cjimenez@iri.upc.edu" class="text-[#45609A] hover:underline">
                cjimenez@iri.upc.edu
              </a>
            </td>
          </tr>
          <!-- <tr class="border-b border-gray-200">
            <td class="px-4 py-3 font-semibold">Phone</td>
            <td class="px-4 py-3">01865 288728</td>
          </tr>
          <tr class="border-b border-gray-200 bg-gray-50">
            <td class="px-4 py-3 font-semibold">Office</td>
            <td class="px-4 py-3">
              <a href="https://ori.ox.ac.uk/" target="_blank" class="text-[#45609A] hover:underline">
                Oxford Robotics Institute
              </a>, 23 Banbury Road, Felstead House, Oxford, OX2 6NN, United Kingdom
            </td>
          </tr>
          <tr>
            <td class="px-4 py-3 font-semibold">College</td>
            <td class="px-4 py-3">
              <a href="https://www.pmb.ox.ac.uk/" target="_blank" class="text-[#45609A] hover:underline">
                Pembroke College
              </a>, St. Aldates, Oxford OX1 1DW 
              (<a href="https://goo.gl/maps/6bQydt5nF6U2" target="_blank" class="text-[#45609A] hover:underline">directions</a>)
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </section>
</BaseLayout>
