---
const { sideBarActiveItemID } = Astro.props;
// const activeClass = "bg-base-300"; // For primary color replace with `active` class
const activeClass = "bg-[#000000]";
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href="/">Home</a></li>
    <li><a class="py-3 text-base" id="research" href="/research">Research</a></li>
    <li><a class="py-3 text-base" id="publications" href="/publications">Publications</a></li>
    <li>
    <a class="py-3 text-base" href="/cv.pdf" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5">
            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
            <polyline points="7 10 12 15 17 10"></polyline>
            <line x1="12" y1="15" x2="12" y2="3"></line>
        </svg>
        <span class="ml-2 font-bold">CV (PDF)</span>
    </a>
</li>
    <!-- <li><a class="py-3 text-base" id="projects" href="/projects">projects</a></li> -->
    <!-- <li><a class="py-3 text-base" id="others" href="/others/">Others</a></li> -->
    <li><a class="py-3 text-base" id="contact" href="/contact">Contact</a></li>
    <!-- <li>
        <a
            class="py-3 text-base"
            href="mailto:contact.manuelernestog@gmail.com"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">Contact</a
        >
    </li> -->
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
